ion-list {
  --background: var(--ion-color-content-light);
  border: 1px solid var(--ion-color-border);
  padding: 0;
  margin: 0;
}

ion-item {
  --background: var(--ion-color-content-light);
  --color: var(--ion-color-dark);
  --border-color: var(--ion-color-border);
  --detail-icon-color: var(--ion-color-dark);
}

ion-footer {
  width: 100%;
  ion-toolbar {
    border-top: 1px solid var(--ion-color-toolbar);
    --background: var(--ion-color-content-creme) !important;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }
}

ion-segment-button {
  min-width: calc(100% / 4);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  --color: var(--ion-color-dark);
  --color-checked: var(--ion-color-light);
  --border-style: none;
  --border-radius: 0;
  --background: var(--ion-color-content-creme);
  --background-checked: var(--ion-color-toolbar);
  --padding-top: 4px;
  --padding-bottom: 4px;
}




