<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Monitor details</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="loadContent()">
        <ion-icon name="refresh" color="light"></ion-icon>
        </ion-button>
        <ion-button (click)="createFilterPopover($event)">
        <ion-icon name="options" color="light"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="canScroll">
    <div *ngIf="loadingError && isContentLoaded" class="loading-error">
        <div padding class="loading-error-content">
            <img src="../../assets/img/adminlabs-data-not-found-001.svg" alt="Data not found">
            <h2>No data available!</h2>
            <p>Lean back and relax. We're cooking up some data at the moment and will get back to you shortly.</p>
        </div>
    </div>

    <div *ngIf="!isContentLoaded && !loadingError" class="loading-spinner">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="!loadingError">
        <ion-list lines="full">
            <div *ngIf="isContentLoaded">
                <ion-item>
                    <ion-avatar slot="start">
                        <div>
                            <span [className]="checkMonitorState()"></span>
                        </div>
                    </ion-avatar>
                    <ion-label>
                        <h2>{{ monitorDetails.name }} ({{ monitorDetails.type }})</h2>
                        <h3>{{ monitorDetails.address }}</h3>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Active</ion-label>
                    <ion-toggle color="success" [checked]="monitorState" (ionChange)="pauseMonitor($event)"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Last scan</ion-label>
                    {{ showLastScan() }}
                </ion-item>
            </div>

            <div [hidden]="!isChartRendered || isHistoryEmpty">
                <ion-item class="chart-item">
                    <div id="monitorChart" class="monitor-chart" (touchstart)="chartClicked($event)" (touchend)="chartNonClicked($event)"></div>
                </ion-item>
            </div>

            <div *ngIf="isContentLoaded && isHistoryEmpty" class="history-empty">
                <div padding class="history-empty-content">
                    <h2>Scan history is empty</h2>
                    <p>This could be caused if the monitor is paused or just created.</p>
                </div>
            </div>

            <div *ngIf="isContentLoaded && !isHistoryEmpty">
                <ion-item>
                    <ion-label>Highest</ion-label>
                    {{ scanHistory.highest }} ms
                </ion-item>
                <ion-item>
                    <ion-label>Lowest</ion-label>
                    {{ scanHistory.lowest }} ms
                </ion-item>
                <ion-item>
                    <ion-label>Average</ion-label>
                    {{ scanHistory.average }} ms
                </ion-item>
            </div>
        </ion-list>
    </div>
</ion-content>
