<ion-content padding [scrollY]="false">
    <div class="login">
      <img src="../../../assets/img/adminlabs-logo-white.svg" class="login-logo" alt="Logo">
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <ion-list>
          <div class="form-group">
            <ion-item>
              <ion-icon name="mail" color="medium"></ion-icon>
              <ion-input ngModel type="email" class="form-control" id="email" name="email" placeholder="Email"></ion-input>
            </ion-item>
          </div>
          <div class="form-group">
            <ion-item>
              <ion-icon name="lock" color="medium"></ion-icon>
              <ion-input ngModel type="password" class="form-control" id="pwd" name="pwd" placeholder="Password"></ion-input>
            </ion-item>
          </div>
          <div class="form-group">
            <ion-button type="submit">
              <div *ngIf="!formSubmitted; else loading">
                <p>Log in</p>
              </div>
            </ion-button>
          </div>
        </ion-list>
        <div class="forgot-pwd">
          <p (click)="forgotPwd($event)">Forgot password?</p>
        </div>
      </form>
    </div>
</ion-content>

<ng-template #loading>
  <div>
    <ion-spinner></ion-spinner>
  </div>
</ng-template>
