ion-list {
  --background: var(--ion-color-content-light);
  border: 1px solid var(--ion-color-border);
  padding: 0;
  margin: 0;
}

ion-item {
  --background: var(--ion-color-content-light);
  --color: var(--ion-color-dark);
  --border-color: var(--ion-color-border);
  --detail-icon-color: var(--ion-color-dark);
}

ion-spinner {
  display: block;
  margin: auto;
}

ion-footer {
  ion-toolbar {
    --background: var(--ion-color-content-dark);
  }
}

ion-segment-button {
  --background: transparent;
  --background-activated: var(--ion-color-toolbar);
  --background-checked: var(--ion-color-toolbar);
  --border-radius: 0;
  --border-style: none;
  --color: var(--ion-color-light);
  padding: 5px;
}



