ion-toolbar {
  text-align: center;
  --background: var(--ion-color-content-dark) !important;
  color: var(--ion-color-light);
}

ion-content {
  --background: var(--ion-color-content-dark);
}

.form-logo {
  width: 80%;
  margin: 6px auto 50px;
  display: block;
}

ion-list {
  background-color: var(--ion-color-content-dark);
}

ion-item {
  --background: var(--ion-color-content-dark);
  width: 95%;
  margin: 20px auto;
}

ion-button {
  width: 95%;
  margin: 20px 0 10px;
}

ion-input {
  --padding-start: 20px !important;
  --color: var(--ion-color-light);
}


.reset-details {
  p {
    font-size: 12px;
  }
}

.forgot-pwd {
  text-align: center;
  color: var(--ion-color-medium);
}

.reset-details {
  font-size: 20px;
}
