<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" text="Login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding [scrollY]="false">
  <div class="forgot-pwd">
    <img src="../../../../assets/img/adminlabs-logo-white.svg" class="form-logo" alt="Logo">
    <form (ngSubmit)=resetPwd() #pwdResetForm="ngForm">
      <ion-list>
        <div class="form-group">
          <ion-item>
            <ion-icon name="mail" color="medium"></ion-icon>
            <ion-input type="email" class="form-control" id="email" required [(ngModel)]="email" name="email" placeholder="Email"></ion-input>
          </ion-item>
        </div>
        <div class="form-group">
          <ion-button type="submit">
            <div *ngIf="!formLoading">
              <p>Send reset link</p>
            </div>
            <div *ngIf="formLoading">
              <ion-spinner></ion-spinner>
            </div>
          </ion-button>
        </div>
        <div class="reset-details">
          <p>We'll send you an email with a reset password link.</p>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>
